<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section text-center" *ngIf="!isLoaded">
  <qwerty-loader></qwerty-loader>
</section>

<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
      <qwerty-add-event [categories]="categories"></qwerty-add-event>
    </div>
    <div class="col-md-6">
      <qwerty-add-category (onCategoryAdd)="newCategoryAdded($event)"></qwerty-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <qwerty-edit-category
              [categories]="categories"
              (onCategoryEdit)="categoryWasEdited($event)"
      ></qwerty-edit-category>
    </div>
  </div>
</section>
